{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="{% static 'bootstrap.css' %}">

</head>
<body>



<nav class="navbar navbar-expand-lg bg-body">
  <div class="container-fluid">
    <img class="" src="{%static 'logo.png' %}">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  ms-auto p-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Contacts</a>
        </li>
          <li class="nav-item">
              <button class="btn bg-black text-light">Contact us</button>
          </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid">
    <div class="row" style="height: 400px">
        <div class="col-6 text-center  mt-5">
            <h3>EDIT:HOUS 3</h3>
        </div>
            <div class="col-6">
                <img class="d-block" src="{%static 'house3.jpg' %}" width="400px" height="300px" >
        </div>
    </div>

</div>





<form method="POST" enctype="multipart/form-data" class=" mx-auto p-5 rounded">
    {% csrf_token %}

    <div class="mb-3">
        <label>Name</label>
        {{ form.name }}
    </div>
    <div class="mb-3">
        <label>Description</label>
        {{ form.description }}
    </div>
    <div class="mb-3">
        <label>Location</label>
        {{ form.location }}
    </div>
    <div class="mb-3">
        <label>Area</label>
        {{ form.area }}
    </div>
    <div class="mb-3">
        <label>saleDate</label>
        {{ form.saleDate }}
    </div>
     <div class="mb-3">
        <label>image</label>
        {{ form.image }}
    </div>
     <div class="mb-3">
        <label>reserved</label>
        {{ form.reserved }}
    </div>
        <div class="mb-3">
        <label>sold</label>
        {{ form.sold }}
    </div>
    <button type="submit" class="btn btn-dark w-100">
        Submit
    </button>
</form>


</body>
</html>